{% extends 'template.html' %}

{% block content %}
    <section class="section cream">
        <header class="content post-header">
            <p class="title">{{ form.title }}</p>
            <h1 class="post-title">
                All done
            </h1>
            <p class="text">
                Thank you for taking the time to complete this form.
            </p>
        </header>
    </section>
{% endblock %}