{% extends 'template.html' %}

{% block content %}
    <section class="section cream">
        <header class="content post-header">
            <p class="title">{{ form.title }}</p>
            <h1 class="post-title">
                Thank you
            </h1>
            <p class="text">
                Your payment has gone through and your donation has been made.
            </p>
        </header>
    </section>
    <section class="section">
        <article class="content">
            <p>
                We are only able to campaign and effectively fight to win power and implement Labour's policies
                thanks to people like you supporting us with donations and time.
            </p>
            <p>
                Thank you, if you have given us permission to contact you, we'll be in touch in the future
                to let you know how we've been putting your support to good use.
            </p>
        </article>
    </section>
{% endblock %}