{% extends 'template.html' %}

{% block content %}
    <section class="section cream">
        <header class="content post-header">
            <p class="title">{{ form.title }}</p>
            <h1 class="post-title">
                All done
            </h1>
            <p class="text">
                Thank you for taking the time to complete this survey
            </p>
        </header>
    </section>

    <section class="section">
        <article class="content no-padding">
            <h2>Could you donate?</h2>
            <p>
                Campaigns aren't cheap. We know you get a lot of emails asking for donations
                and you probably have already - but if you are able to donate even a small amount to
                our campaign it would help a lot.
            </p>
        </article>
        <article class="content paginator no-padding">
            <div></div>

            <a href="{% url 'form.do' form='Donate' %}" class="fancy-link">
                Donate now
                <i class="fas fa-arrow-right"></i>
            </a>

        </article>
    </section>
{% endblock %}