{% if meeting.in_future %}
    <article class="content status-banner">
        <i class="fas fa-hourglass-half"></i>
        <div>
            <p>
                This meeting hasn't happened yet.
            </p>
            <p>
                The minutes will appear here once it has happened.
            </p>
        </div>
    </article>
{% else %}
    <dl class="content">
        {% for item in meeting.get_agenda_items %}
            {% if item.order < 50 %}
            <dt>{{ item }}</dt>
            <dd>{{ item.get_minutes_notes_html|safe }}</dd>
            {% endif %}
        {% endfor %}
        <dt>
            {{ meeting.get_motion_item }}. Motions
        </dt>
        <dd>
            <dl class="content flex">
                {% for motion in meeting.get_motions %}
                    <dt>
                    <p style="margin-top:0">{{ motion }}</p>
                    <p class="meta">{{ motion.submitted_by }}</p>
                    </dt>
                    <dd>
                        {{ motion.html|safe|truncatechars_html:275 }}
                        <div class="paginator">
                            <div>
                                {% if not meeting.in_future %}
                                    <strong>{{ motion.get_status_display }}</strong>
                                {% endif %}
                            </div>
                            <a href="{% url 'meeting_motion' unit=meeting.unit.slug year=meeting.date.year month=meeting.date.month day=meeting.date.day motion=motion.pk %}"
                               class="fancy-link blue" style="display: inline-block">
                                Full text
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </dd>
                {% endfor %}
            </dl>
        </dd>
        {% for item in meeting.get_agenda_items %}
            {% if item.order >= 50 %}
            <dt>{{ item }}</dt>
            <dd>{{ item.get_minutes_notes_html|safe }}</dd>
            {% endif %}
        {% endfor %}
    </dl>
{% endif %}

