{% extends 'template.html' %}
{% block content %}
    <section class="section cream">
        <header class="content post-header">
            <p class="title">Meetings</p>
            <h1 class="post-title">
                All Meetings
            </h1>
        </header>
    </section>

    <section class="section">
        <article class="content">
            <table class="table">
                <tbody>
                {% for meeting in meetings %}
                    <tr>
                        <td>
                            {{ meeting }}
                        </td>
                        <td>
                            {% if meeting.in_future %}
                                <a href="{% url 'agenda' unit=meeting.unit.slug year=meeting.date.year month=meeting.date.month day=meeting.date.day %}">
                                    Agenda
                                </a>
                            {% else %}
                                <a href="{% url 'minutes' unit=meeting.unit.slug year=meeting.date.year month=meeting.date.month day=meeting.date.day %}">
                                    Minutes
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
    </section>
    <section class="section cream">
        <article class="content paginator">
            {% if meetings.has_previous %}
                <a href="{% url 'meetings_page' page=meetings.previous_page_number %}" class="button red no-margin">
                    Previous
                </a>
            {% endif %}
            <div>
                {{ meetings.end_index }} of {{ p.count }}
            </div>
            {% if meetings.has_next %}
                <a href="{% url 'meetings_page' page=meetings.next_page_number %}" class="button red no-margin">
                    Next
                </a>
            {% endif %}
        </article>
    </section>
{% endblock %}