{% extends 'template.html' %}
{% block content %}

    <section class="section cream">
        <header class="content post-header">
            <p class="title">Meeting</p>
            <h1 class="post-title">
                {{ meeting.unit }}
            </h1>
        </header>
        <header class="content subheader">
            <h2>Meeting details</h2>
            <h2>{{ meeting.get_date }}</h2>
        </header>
        <nav class="content tabs">
            <a href="{% url 'agenda' unit=meeting.unit.slug year=meeting.date.year month=meeting.date.month day=meeting.date.day %}"
               class="tab {% if page.type == 'agenda' %}active{% endif %}">
                Agenda
            </a>
            <a href="{% url 'minutes' unit=meeting.unit.slug year=meeting.date.year month=meeting.date.month day=meeting.date.day %}"
               class="tab {% if page.type == 'minutes' %}active{% endif %}">
                Minutes
            </a>
        </nav>
    </section>

    <section class="section">
        <dl class="content flex">
            <dt>Date</dt>
            <dd>{{ meeting.date }}</dd>
            <dt>Address</dt>
            <dd>{{ meeting.address }}</dd>
            {% if page.type == 'minutes' %}
                <dt>Attendees</dt>
                <dd>{{ meeting.attendees }}</dd>
                <dt>Apologies</dt>
                <dd>{{ meeting.apologies }}</dd>
            {% endif %}
            {% if meeting.get_attachments %}
                <dt>Attachments</dt>
                <dd>
                {% for a in meeting.get_attachments %}
                    <a href="{{ a.file.url }}" target="_blank">
                        {{ a.title }}
                    </a>{% if not forloop.last %},&nbsp;{% endif %}
                {% endfor %}
                </dd>
            {% endif %}
        </dl>

        {% if page.type == 'agenda' %}
            {% include 'tabs/agenda.html' %}
        {% endif %}

        {% if page.type == 'minutes' %}
            {% include 'tabs/minutes.html' %}
        {% endif %}

    </section>


{% if meeting.notes and page.type == 'agenda' %}
    <section class="section">
        <footer class="content subheader">
            <p class="text">
                {{ meeting.notes }}
            </p>
        </footer>
    </section>
{% endif %}

{% endblock %}