{% extends 'template.html' %}
{% block content %}
    <section class="section cream">
        <header class="content post-header">
            <p class="title">Motions</p>
            <h1 class="post-title">
                All Motions
            </h1>
            <p class="text">
                Motions are written proposals brought forward for debate at a meeting.
                You can see a list of motions submitted to this CLP or its committees and branches on this page.
            </p>
        </header>
    </section>

    <section class="section">
        <article class="content">
            <table class="table">

                <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Submitted To
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for motion in motions %}
                    <tr>
                        <td>
                            <a href="{% url 'motion' motion_id=motion.id %}">
                                {{ motion.title }}
                            </a>
                        </td>
                        <td>
                            {{ motion.submitted_to }}
                        </td>
                        <td>
                            {{ motion.get_status_display }}
                        </td>
                        <td>
                            {{ motion.get_date }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </article>
    </section>

    <section class="section cream">
        <article class="content paginator">
            {% if motions.has_previous %}
                <a href="{% url 'motions_page' page_no=motions.previous_page_number %}" class="button red no-margin">
                    Previous
                </a>
            {% endif %}
            <div>
                {{ motions.end_index }} of {{ p.count }}
            </div>
            {% if motions.has_next %}
                <a href="{% url 'motions_page' page_no=motions.next_page_number %}" class="button red no-margin">
                    Next
                </a>
            {% endif %}
        </article>
    </section>
{% endblock %}