{% extends 'template.html' %}
{% load static %}

{% block htmlhead %}
    <link rel="stylesheet" href="{% static 'motions.css' %}">
{% endblock %}

{% block content %}

    <section class="section cream">
        <header class="content post-header">
            <p class="title">Motion</p>
            <h1 class="post-title">
                {{ motion.title }}
            </h1>
        </header>
        <header class="content subheader">
            <h2>{{ motion.submitted_to }}</h2>
            <h2>{{ motion.get_date }}</h2>
        </header>
    </section>

    <section class="section no-bottom-padding">
        <article class="content status-banner">
            <i class="{{ motion.status_icon }}"></i>
            <div>
                <p>{{ motion.status_text }}</p>
            </div>
        </article>
    </section>

    <section class="section">
        <dl class="content flex">
            <dt>
                Written by
            </dt>
            <dd>
                {{ motion.submitted_by }}
            </dd>
            <dt>
                Status
            </dt>
            <dd>
                {{ motion.get_status_display }}
            </dd>
            {% if motion.status == 'A' %}
                <dt>
                    Scheduled for
                </dt>
                <dd>
                    {{ motion.scheduled_for }}
                </dd>
            {% endif %}
            <dt>
                Full text
            </dt>
            <dd>
                {{ motion.html|safe }}
            </dd>
        </dl>
    </section>

    <section class="section cream">
        <footer class="content">
            {% if page.previous == 'motions' %}
                <a href="{% url 'motions' %}" class="fancy-link blue" style="display: inline-block">
                    <i class="fas fa-arrow-left"></i>
                    Back to list of motions
                </a>
            {% endif %}

            {% if page.previous == 'meeting' %}
                <a href="{% url 'meeting' unit=meeting.unit.slug year=meeting.date.year month=meeting.date.month day=meeting.date.day %}" class="fancy-link blue" style="display: inline-block">
                    <i class="fas fa-arrow-left"></i>
                    Back to meeting agenda
                </a>
            {% endif %}
        </footer>
    </section>

{% endblock %}