{% extends 'template.html' %}
{% load humanize %}
{%  block content %}
<section class="section cream">
    <header class="content">
        <h2 class="title">News</h2>
    </header>

    <section class="content">
        {% for article in posts %}
            {% if forloop.counter <= 2 %}
                {%  include 'blocks/article-link.html' %}
            {% endif %}
        {% endfor %}
    </section>
</section>

    <section class="section">
        <section class="content-grid">

            {% for article in posts %}
                {% if forloop.counter > 2 %}
                    <a href="{% url 'post' post_slug=article.slug %}" class="article">
                        <h3>
                            {{ article.headline }}
                        </h3>
                        <p>
                            {{ article.description|safe }}
                        </p>
                        <p class="meta">
                            {{ article.created_at|naturaltime }}
                        </p>
                    </a>
                {% endif %}
            {% endfor %}
        </section>
    </section>
{% endblock %}