{% extends 'template.html' %}

{% block content %}

    <section class="section cream">
        <header class="content post-header">
            <p class="title">About</p>
            <h1 class="post-title">
                Our Policies & Values
            </h1>
        </header>
    </section>
    <section class="section">
        <header class="content">
            <h2 class="title">What we stand for</h2>
        </header>
        <article class="content">
            <p class="important no-margin">
                {{ header.message }}
            </p>
        </article>
    </section>

    <section class="section">
        <header class="content">
            <h2 class="title">Policies</h2>
        </header>
        <section class="content-grid">
        {% for policy in policies %}
            <article class="icon-block">
                <header class="underline" {% if policy.color %}style="color: {{ policy.color }}"{% endif %}>
                    <i class="{{ policy.icon_class }} big"></i>
                    <h3 class="title">{{ policy.headline }}</h3>
                </header>
                <div class="text">
                    {{ policy.html|safe }}
                </div>
            </article>
         {% endfor %}
        </section>
    </section>

{% endblock %}