{% extends 'template.html' %}
{% load humanize %}

{%  block content %}

    <section class="section cream">
        <header class="content post-header">
            <p class="title">{{ article.category }}</p>
            <h1 class="post-title">
                {{ article.headline }}
            </h1>
            <p class="meta">
                {{ article.created_at|naturaltime }}
            </p>
        </header>
    </section>

    {% if article.image %}
    <section class="section no-bottom-padding">
        <div class="content">
            <img alt="Article image: {{ article.image.name }}" src="{{ article.image.url }}">
        </div>
    </section>
    {% endif %}

    <section class="section">
        <article class="content post">
            {{ article.html|safe }}
        </article>
    </section>

    <section class="section cream">
        <header class="content">
            <h4 class="title">More information</h4>
        </header>
        <article class="content-grid">
            {% for link in infoMenu %}
            {% include 'blocks/info-link.html' %}
            {% endfor %}
        </article>
    </section>

{% endblock %}