{% extends 'template.html' %}
{% load static %}

{% block htmlhead %}
    <link rel="stylesheet" href="{% static 'unit.css' %}">
{% endblock %}

{% block content %}

    <section class="section cream">
        <header class="content post-header">
            <p class="title">{{ unit.get_type_display }}</p>
            <h1 class="post-title">
                {{ unit }}
            </h1>
        </header>
    </section>

    <section class="section no-bottom-padding">
        <article class="content status-banner">
            <i class="far fa-calendar-check"></i>
            <div>
                <p>The next meeting will be held on</p>
                <p>
                    {{ unit.nextMeeting|date:'l' }}
                    the
                    <strong>
                        {{ unit.nextMeeting|date:'j' }}<sup>{{ unit.nextMeeting|date:'S' }}</sup>
                        of
                        {{ unit.nextMeeting|date:'F Y' }}
                    </strong>
                </p>
            </div>
        </article>
        {% if unit.is_next_meeting_in_calendar %}
            <article class="content paginator">
                        <span id="empty">
                        </span>
                <a class="fancy-link blue" href="{% url 'meeting' unit=unit.slug year=unit.nextMeeting.year month=unit.nextMeeting.month day=unit.nextMeeting.day %}">
                    View the agenda for this meeting
                    <i class="fas fa-arrow-right"></i>
                </a>
            </article>
        {% endif %}
        <article class="content">
            <p class="text">
                {{ unit.description }}
            </p>
        </article>
    </section>

    {% if unit.default_unit %}
        <section class="section">
            <header class="content">
                <h2 class="title">Branches & Committees</h2>
            </header>
            <section class="content-grid">
                {% for branch in branches %}
                    <a href="{% url 'unit' unit_type=branch.type unit_slug=branch.slug %}" class="block-button">
                        <h4>{{ branch }}</h4>
                        <p>{{ branch.description }}</p>
                        <footer class="meta">
                            <span class="fancy-link blue">
                                More about this {{ branch.get_type_display }}
                            <i class="fas fa-arrow-right"></i>
                            </span>
                        </footer>
                    </a>
                {% endfor %}
            </section>
        </section>
    {% endif %}

    <section class="section no-bottom-padding">
        {% if roles %}
            <header class="content">
                <h2 class="title">Officers</h2>
                <p>Members elected by other members to run the {{ unit.type }} day to day.</p>
            </header>
            <section class="content-block-grid people">
                {% for role in roles %}
                    {% include 'blocks/person.html' %}
                {% endfor %}
            </section>
        {% endif %}
    </section>

    {% if elected %}
        <section class="section no-bottom-padding">
            <header class="content">
                <h2 class="title">Representatives</h2>
                <p>Members who've been elected to public office.</p>
            </header>
            <section class="content-block-grid people">
                {% for role in elected %}
                    {% include 'blocks/person.html' %}
                {% endfor %}
            </section>
        </section>
    {% endif %}
    {% if members %}
        <section class="section">
            <header class="content">
                <h2 class="title">Members</h2>
                <p>Delegates and observers</p>
            </header>
            <section class="content-block-grid people">
                {% for role in members %}
                    {% include 'blocks/person.html' %}
                {% endfor %}
            </section>
        </section>
    {% endif %}

    <section class="section cream">
        <article class="content-grid">
            <a href="{% url 'policy' %}" class="info-link">
                <div class="icon-background">
                    <i class="fas fa-flag"></i>
                </div>
                <div>
                    <h4 class="icon-title">
                        Policies
                    </h4>
                    <p>
                        Find out about our values, policies, and what we would do for your area if we're
                        elected.
                    </p>
                    <footer>
                        <span class="fancy-link blue">Read our policies<i class="fas fa-arrow-right space"></i> </span>
                    </footer>
                </div>
            </a>
            <a href="{% url 'motions' %}" class="info-link">
                <div class="icon-background">
                    <i class="fas fa-scroll"></i>
                </div>
                <div>
                    <h4 class="icon-title">
                        Motions
                    </h4>
                    <p>
                        See a details of all motions submitted in this constituency,
                        or submit your own motion for debate at one of our committees or branches.
                    </p>
                    <footer>
                        <span class="fancy-link blue">See motions<i class="fas fa-arrow-right space"></i> </span>
                    </footer>
                </div>
            </a>
        </article>
    </section>
{% endblock %}