{% extends 'template.html' %}

{% block content %}
    <section class="section cream">
        <header class="content post-header">
            <p class="title">{{ form.title }}</p>
            <h1 class="post-title">
                {% if deadline_passed %}
                    The deadline has passed
                {% endif %}
                {% if not_open %}
                    This form is not open
                {% endif %}
            </h1>
            {% if not_open %}
                <p>
                    You will be able to add your response on {{ form.opens_at }}.
                </p>
            {% endif %}
        </header>
    </section>
{% endblock %}