{% extends 'template.html' %}
{% load static %}
{% block htmlhead %}
    <link rel="stylesheet" href="{%  static 'form.css' %}">
    <link rel="stylesheet" href="{%  static 'form/css/app.20c42575.css' %}">
{% endblock %}

{% block content %}
    <section class="section no-bottom-padding">
        <header class="content post-header">
            <p class="title">{{ form.title }}</p>
        </header>
    </section>

    <form id="form" action="{% url 'form.submit' form=form.slug %}" method="post" class="section" style="padding-top: 0;">
        {% csrf_token %}
        <input name="_email" type="email" class="first-q">
        <section class="content">
            <vue-form :payment='{{ form.payment }}' formdef='{{ form.get_questions }}'></vue-form>
        </section>
    </form>

    <script src="{% static 'form/js/chunk-vendors.c00adbb5.js' %}"></script>
    <script src="{% static 'form/js/app.dd438715.js' %}"></script>
{% endblock %}



