{% extends 'template.html' %}
{% load static %}
{% block htmlhead %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="stylesheet" href="{% static 'form/css/app.20c42575.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
    <style>
        /**
     * The CSS shown here will not be introduced in the Quickstart guide, but shows
     * how you can use CSS to style your Element's container.
     */
        .vf-input {
            width: 100%;
        }

        .vf-input.address {
            padding: 0rem 0.25rem;
            display: grid;
            grid-template-columns: 2fr 1fr;
        }

        .vf-input.address:focus-within {
            box-shadow: inset 1px 1px 2px 0 rgba(142, 145, 153, 0.33),
            0px 0px 0px 3px #4A90E2;
            border-color: transparent;
        }

        .vf-input.address > input {
            padding: 0.88rem 0.5rem;
            outline: none;
            border: none;
            background-color: transparent;
            color: rgb(116, 119, 127);
            margin: 2px;
            font-size: 13pt;
        }

        .vf-input.address > input::placeholder {
            color: #aab7c4;
            font-weight: 300;
        }

        .vf-input.address > input.full-width {
            grid-column: 1/-1;
            border-bottom: 1px solid #f2f2f2;
        }

        [disabled] {
            background-color: grey;
        }

        .StripeElement {
            box-sizing: border-box;
            padding: 0.88rem 0.5rem;
            border: 1px solid rgba(142, 145, 153, 0.58);
            outline: none;
            color: rgb(116, 119, 127);
            margin: 2px;
            transform: translateX(-2px);
            box-shadow: inset 1px 1px 2px 0 rgba(142, 145, 153, 0.33);
            font-size: 13pt;
            font-weight: 300;
        }

        .StripeElement--focus {
            box-shadow: inset 1px 1px 2px 0 rgba(142, 145, 153, 0.33),
            0px 0px 0px 3px #4A90E2;
            border-color: transparent;
        }

        .StripeElement--invalid {
            box-shadow: inset 1px 1px 2px 0 rgba(142, 145, 153, 0.33),
            0px 0px 0px 3px #960322;
            border-color: transparent;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }

        #card-errors {
            color: #960322;
        }

        .active {
            background-color: grey;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="section no-bottom-padding">
        <header class="content post-header">
            <p class="title">{{ form.title }}</p>
            <h1 class="post-title">
                We'll now take a payment of £{{ payment.amount }}
            </h1>
        </header>
    </section>

    <section class="section no-padding">
        <article class="content">
            <p>
                Please enter your details below and click pay
            </p>
        </article>
        <form action="{% url 'form.pay' form=form.slug %}" method="post" id="payment-form" class="content">
            {% csrf_token %}

            <label class="label">
                <p>Name on card</p>
                <input id="nameField" type="text" name="name" class="vf-input" required>
            </label>

            <label class="label">
                <p>Your email address</p>
                <input id="emailField" type="email" name="email" class="vf-input" required>
            </label>

            <label class="label">
                <p>Billing address</p>
                <div class="vf-input address">
                    <input id="address_1" type="text" class="full-width" placeholder="Address line 1" required>
                    <input id="address_2" type="text" class="full-width" placeholder="Address line 2">
                    <input id="city" type="text" placeholder="City" required>
                    <input id="postal_code" type="text" placeholder="Post code" required>
                </div>

            </label>

            <label class="label">
                <p>
                    Card Details
                </p>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <p id="card-errors" role="alert" class="meta"></p>
                </div>
            </label>

        </form>
    </section>

    <section class="section">
        <article id="error-box" class="content status-banner" style="display: none">
            <i class="fas fa-frown"></i>
            <div>
                <p>
                    We couldn't process the payment.
                </p>
                <p id="error-message">

                </p>
            </div>
        </article>
        <article class="content paginator">
            <div>
            </div>

            <button id="submit-button" form="payment-form" href="{% url 'form.pay' form=form.slug %}" class="form-button">
                Pay £{{ payment.amount }}
            </button>

        </article>
    </section>

    <script>
        // Create a Stripe client.
        var stripe = Stripe('{{ key }}');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                fontSmoothing: 'antialiased',
                fontFamily: '"Open Sans", sans-serif',
                fontSize: '13pt',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {
            style: style,
            hidePostalCode: true
        });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        var form = document.querySelector('#payment-form');
        var formButton = document.querySelector('#submit-button');

        form.addEventListener('submit', function (event) {
            event.preventDefault();
            formButton.disabled = true;

            // Handle form submission.
            var CsrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
            var nameField = document.querySelector("#nameField");
            var emailField = document.querySelector("#emailField");
            var billingAddress = {
                city: document.querySelector('#city').value,
                country: null,
                line1: document.querySelector('#address_1').value,
                line2: document.querySelector('#address_2').value,
                postal_code: document.querySelector('#postal_code').value,
                state: null
            };

            var billingDetails = {
                name: nameField.value,
                email: emailField.value,
                address: billingAddress
            };

            stripe.createPaymentMethod('card', card, {
                billing_details: billingDetails
            }).then(function (result) {
                if (result.error) {
                    displayError(result.error.message);
                    formButton.disabled = false;
                } else {
                    fetch('/forms/{{ form.slug }}/Pay', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': CsrfToken
                        },
                        body: JSON.stringify({
                            payment_method_id: result.paymentMethod.id,
                            person_details: billingDetails
                        })
                    }).then(function (result) {
                        // Handle server response (see Step 3)
                        result.json().then(function (json) {
                            handleServerResponse(json);
                            formButton.disabled = false;
                        })
                    });
                }
            });

        });

        function handleServerResponse(response) {
            var CsrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;

            if (response.error) {
                displayError(response.error.message);
                formButton.disabled = false;
            } else if (response.requires_action) {
                // Use Stripe.js to handle required card action
                stripe.handleCardAction(
                    response.payment_intent_client_secret
                ).then(function (result) {
                    if (result.error) {
                        displayError(result.error.message);
                        formButton.disabled = false;
                    } else {
                        // The card action has been handled
                        // The PaymentIntent can be confirmed again on the server
                        fetch('/forms/{{ form.slug }}/Pay', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': CsrfToken
                            },
                            body: JSON.stringify({payment_intent_id: result.paymentIntent.id})
                        }).then(handleServerResponse);
                    }
                });
            } else {
                window.location.reload()
            }
        }

        var displayError = function (message) {
            var errorBox = document.querySelector('#error-box');
            var errorMessage = document.querySelector('#error-message');

            errorMessage.innerHTML = message;
            errorBox.setAttribute('style', 'display: flex;')
        }

    </script>
{% endblock %}