{% extends 'template.html' %}

{% block content %}
    <section class="section cream">
        <header class="content post-header">
            <p class="title">{{ form.title }}</p>
            <h1 class="post-title">
                Before we get started
            </h1>
            <p class="text">
                Please read this information before completing the form.
            </p>
        </header>
    </section>

    <section class="section">
        <article class="content no-padding">
            <p>
                Information from this form will be stored on an electronic database and
                may be shared with Labour Party members for the purposes of:
            </p>
            <ul>
                <li>Campaigning on behalf of the Labour Party and it's candidates</li>
                <li>Administering the Labour Party</li>
                <li>Providing this website to members of the public</li>
            </ul>
            <p>
                We will not share information you provide on this form with the public or any third party.
            </p>
        </article>
        <article class="content paginator no-padding">
            <div>
            </div>

            <a href="{% url 'form.do' form=form.slug %}" class="form-button">
                Start
                <i class="fas fa-arrow-right"></i>
            </a>

        </article>
    </section>
{% endblock %}