{% extends 'template.html' %}

{% block content %}
    <section class="section cream">
        <header class="content post-header">
            <p class="title">{{ form.title }}</p>
            <h1 class="post-title">
                Can you help?
            </h1>
            <p class="text">
                To win elections and make change, we need your help.
            </p>
        </header>
    </section>

    <section class="section">
        <article class="content no-padding">
            <h2>What we want to know</h2>
            <p>
                To run the best campaign we can, we need to know who out there is able to help,
                what skills they have and how available they are.
            </p>
            <p>
                Although bread and butter campaigning is delivering leaflets and knocking on doors,
                all sorts of skills can be helpful. If you're good at social media, photography,
                strategy, driving... or anything you might be good at or interested in, it's something
                that might be able to help us.
            </p>
            <h2>What we'll do with this information</h2>
            <p>
                We'll store your answers in a database and use the information to organise our campaigns.
                We may use your email address to get in touch to ask for help or provide information to you
                about how the campaign is going.
            </p>
            <p>
                We'll ask questions like:
            </p>
            <ul>
                <li>What skills do you have?</li>
                <li>How can we get in touch with you?</li>
                <li>When are you available to attend events?</li>
            </ul>
            <p>
                We will not share information you provide on this form with the public or any third party.
            </p>
        </article>
        <article class="content paginator no-padding">

            <a href="{% url 'form.do' form=form.slug %}" class="form-button">
                Start
                <i class="fas fa-arrow-right"></i>
            </a>

        </article>
    </section>
{% endblock %}