{% extends 'template.html' %}

{%  block content %}

    <section class="section">
        <article class="content">
            <h2 class="title">
                Oops!
            </h2>
            <h1>
                Something's gone wrong...
            </h1>
            <p>
                We apologise for any inconvenience.
            </p>
        </article>
    </section>

{% endblock %}