{% load humanize %}
<a href="{% url 'post' post_slug=article.slug %}" class="article underline">
    <h3>
        {{ article.headline }}
    </h3>
    <p>
        {{ article.description|safe }}
    </p>
    <p class="meta">
        {{ article.created_at|naturaltime }}
    </p>
</a>