<a href="{{ link.url }}" class="info-link">
    <div class="icon-background">
        <i class="{{ link.icon_class }}"></i>
    </div>
    <div>
        <h4 class="icon-title">
        {{ link.title }}
        </h4>
        <p>{{ link.description }}</p>
        <footer>
            <span class="fancy-link blue">{{ link.more_text }}<i class="fas fa-arrow-right space"></i> </span>
        </footer>
    </div>
</a>