<article class="section join-now">
    <div class="content">
        <p>
            We can only beat this <strong>toxic</strong> and <strong>untrustworthy</strong> Tory government with <strong>your help</strong>.
        </p>
        <a href="https://join.labour.org.uk" target="_blank" rel="noreferrer" class="button">
            Join Now
        </a>
    </div>
</article>