<article class="person">
    {% if role.person.photo %}
        <img alt="{{ role.person.name }}'s face" src="{{ role.person.photo.url }}" class="avatar">
    {% else %}
        <div class="empty-avatar">
            <i class="far fa-smile"></i>
        </div>
    {% endif %}
    <h4 class="name">
        {{ role.person.name }}
    </h4>
    <p>{{ role.get_title_display }}</p>
    {% if role.sub_title %}
    <p class="meta">{{ role.sub_title }}</p>
    {% endif %}
</article>