{% extends 'emails/template.html' %}

{% block content %}
    <p>
    Notice of new survey response:
    </p>

    <p>
    <em>All survey questions are optional so the question answers below might be blank.</em>
    </p>

    <dl>
        Email
    </dl>
    <dd>
        {{ post.email }}
    </dd>

    <dl>
        Post code
    </dl>
    <dd>
        {{ post.post_code }}
    </dd>

    <dl>
        Skills
    </dl>
    {% for skill in skills %}
    <dd>
        {{ skill }}
    </dd>
    {% endfor %}

    <dl>
        Previous activity
    </dl>
    {% for activity in previous_activity %}
    <dd>
        {{ activity }}
    </dd>
    {% endfor %}

    <dl>
        Would be willing to help with
    </dl>
    {% for activity in future_activity %}
    <dd>
        {{ activity }}
    </dd>
    {% endfor %}

    <dl>
        Which days are you usually available
    </dl>
    {% for day in availability_days %}
    <dd>
        {{ day }}
    </dd>
    {% endfor %}

    <dl>
        What time of day is best?
    </dl>
    {% for time in availability_times %}
    <dd>
        {{ time }}
    </dd>
    {% endfor %}

    <dl>
        Can drive (and would be willing to lend use of car)
    </dl>
    <dd>
        {{ can_drive }}
    </dd>

    <dl>
        Labour member?
    </dl>
    <dd>
        {{ is_member }}
    </dd>

{% endblock %}