<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Labour Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        dt {
            font-weight: 600;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 10px 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                   style="border: 1px solid #cccccc; border-collapse: collapse;">
                <tr>
                    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                    <b>{{ title }}</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                                    {% block content %}
                                    {% endblock %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EA395E" style="padding: 30px 30px 30px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #FFEFEF; font-family: Arial, sans-serif; font-size: 14px;"
                                    width="75%">
                                    <p>
                                        North West Cambridgeshire Labour Party
                                    </p>
                                    <a href="#" style="color: #FFEFEF;"><font color="#FFEFEF">Unsubscribe</font></a> to
                                    emails from us.
                                    <p style="color: #FFEFEF; font-family: Arial, sans-serif; font-size: 14px;">
                                        Promoted by N W Cambs Labour Party at
                                        11 Kennedy Street, Hampton Vale, Peterborough, PE7 8JY.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>