{% extends 'emails/template.html' %}

{% block content %}
    <p>
    Dear {{ payment.name }},
    </p>
    <p>Thank you for for your donation of £{{ payment.amount }}!</p>

    <p>
        We can only fight an election with the help and support of members like you, it makes a massive difference.
    </p>

    <p>I have enclosed your receipt below.</p>

    <p>Many thanks,</p>
    <p>
        Alex Hall <br>
        Chair <br>
        North-West Cambridgeshire Labour Party
    </p>


    <h3>Receipt</h3>

    <dl>
        <dt>
            Amount
        </dt>
        <dd>
            £ {{ payment.amount }}
        </dd>

        <dt>
            Payed by
        </dt>
        <dd>
            {{ payment.name }}
        </dd>

        <dt>
            Date
        </dt>
        <dd>
            {{ payment.timestamp }}
        </dd>

        <dt>
            Your address
        </dt>
        <dd>
            {{ payment.address }}
        </dd>
    </dl>
{% endblock %}