{% extends 'emails/template.html' %}

{% block content %}
    <p>
    Dear {{ motion.submitted_by }},
    </p>
    <p>Thank you for submitting a motion to {{ motion.submitted_to }}. It was received on {{ motion.submitted_on }}.</p>

    <p>It will now be considered by the Chair of {{ motion.submitted_to }}, who will either schedule it to be debated
        at the next available meeting, or may reject it (if it fails to meet the criteria for a motion.
        Either way, we'll email you with the details when this happens.</p>

    <p>For your reference, a copy of the text of the motion is included below.</p>

    <p>Many thanks,</p>
    <p>{{ motion.submitted_to }}</p>

    <h3>{{ motion.title }}</h3>

    {{ motion.html|safe }}
{% endblock %}