.input {
    padding: 0.88rem 0.5rem;
    border: 1px solid rgba(142, 145, 153, 0.88);
    outline: none;
    color: rgb(116, 119, 127);
    margin: 2px;
    margin-bottom: 12px;
    max-width: 100%;
    transform: translateX(-2px);
    box-shadow: inset 1px 1px 2px 0 rgba(142, 145, 153, 0.33);
}

.input:focus {
    border: 3px solid #4A90E2;
    margin: 0;
    margin-bottom: 10px;
}

.label.error p {
    color: #960322;
}

.input.error {
    border: 3px solid #960322;
    margin: 0;
    margin-bottom: 10px;
}

.label {
    display: block;
}

.label .error-box {
    color: #960322;
    padding: 0.33em 2em;
}

.label .error-box li:last-child {
    margin-bottom: 0;
}

.label p {
    color: rgb(99, 102, 110);
    font-weight: 300;
}

.label:not(:last-child) {
    margin-bottom: 2.33rem;
}

/* Radio buttons */
input.radio {
    display: none;
}

input.radio ~ .checkmark {
    background-color: #fff;
    border:1px solid #e4e1da;
    padding: 8px;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4e1da;
    margin-right: 0.66em;
    border-radius: 18px;
    transition-duration: 100ms;
}

input.radio:checked ~ .checkmark {
    background-color:#51b8a0;
    border-color: transparent;
    color: #fff;
}

input.radio ~ .checkmark i {
    font-size: 8px;
}

/* Check boxes */
input.check {
    display: none;
}

input.check ~ .checkmark {
    background-color: #fff;
    border:1px solid #e4e1da;
    padding: 8px;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4e1da;
    margin-right: 0.66em;
    border-radius: 1px;
    transition-duration: 100ms;
}

input.check:checked ~ .checkmark {
    background-color:#51b8a0;
    border-color: transparent;
    color: #fff;
}

input.check ~ .checkmark i {
    font-size: 10px;
}

.first-q {
    display: none;
}

.block-button {
    display: flex;
    border: 2px solid transparent;
}

.form {
    padding-top: 0;
}

.form .meta {
    margin-top: 1em;
}

.vf-checkbox, .vf-radio {
    padding: 8px;
}

.vf-button {
    min-height: 4rem;
}