@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

main {
    flex: 1 1 auto;
}

.section {
    display: grid;
    grid-template-columns: 3vw [ll] 1fr [left] 2fr [centre] 2fr [right] 1fr [rr] 3vw;
    padding: 2rem 0;
}

.section.compact {
    padding: 1rem 0;
}

.content-wide {
    grid-column: ll / rr;
}

.content, .content-grid, .content-block-grid, .content-button-grid, .content-dual-grid {
    grid-column: left / right;
}

.content img {
    max-height: 320px;
    width: 100%;
    object-fit: cover;
}

.section.no-bottom-padding {
    padding-bottom: 0;
}

dl.content {
    font-weight: 300;
    line-height: 1.42em;
    color: rgba(0, 0, 0, 0.66);
    width: 100%;
}

dl.content *:not(a):not(i)  {
    color: rgba(0, 0, 0, 0.66);
    font-size: 12.44pt
}

dl.content dt {
    font-weight: 500;
    margin-bottom: .12em;
    padding-right: 1em;
    padding-top: 1rem;
    border-top: 1px solid whitesmoke;
}

dl.content dd {
    margin-bottom: .33rem;
}

dl.content.flex {
    display: grid;
    grid-template-columns: [left] 3fr [center] 10fr [right];
    grid-row-gap: 1rem;
}

dl.content.flex dt {
    grid-column: left / center;
}

dl.content.flex dd {
    margin-left: 0;
    grid-column: center / right;
    padding-top: 1rem;
    border-top: 1px solid whitesmoke;
}

dl.content.flex dd p:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .content, .content-grid, .content-block-grid, .content-button-grid {
        grid-column: ll / rr;
    }

    dl.content.flex dt {
        grid-column: left / right;
    }

    dl.content.flex dd {
        grid-column: left / right;
        margin-left: 4vw;
        border-top: none;
        padding-top: 0;
    }
}

.content-grid {
    display: grid;
    grid-column-gap: 1.14rem;
    grid-row-gap: 1.33rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.content-block-grid {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1.33rem;
    grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
    margin: 0.88rem 0;
}

.content-button-grid {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1.22rem;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: 1fr;
}

h1:first-of-type,
h2:first-of-type,
h3:first-of-type,
h4:first-of-type,
h5:first-of-type,
h6:first-of-type {
    margin-top: 0;
}

li {
    margin-bottom: 0.66em;
}