@media screen {
    .print-only {
        display: none;
    }
}

@media print {
    body {
        font-size: 9pt;
    }
    .section {
        grid-template-columns: [ll] 1fr [left] 2fr [centre] 2fr [right] 1fr [rr];
        padding: 14px 0;
    }

    .section>*{
        grid-column: 1/-1;
    }

    .mast-head, body>footer, .fancy-link, .no-print {
        display: none !important;
    }

    .tab, .tab.active {
        text-decoration: none;
        font-size: 14pt;
        font-weight: 500;
        border: none;
    }

    .tabs {
        justify-content: center;
    }

    .tab:not(.active) {
        display: none;
    }

    p, article, li, dd, dt {
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
    }

    li, dd {
        break-before: avoid;
    }

    h1, h2, h3, h4, h5, h6, dt, .title {
        break-after: avoid;
    }
}