:root {
    --dark-red: #960322;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom: 0.66em;
}

i.space {
    margin-left: 0.5em;
}

section.mast-head {
    background-color: #c6082f;
    padding: 1rem 0;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23a81b2b' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.cream {
    background-color: #F2EFE7;
}

.content .title {
    font-size: 17pt;
    color: var(--dark-red);
}

.content .title:after {
    content: ' ';
    display: block;
    position: relative;
    background: var(--dark-red);
    width: 2.5em;
    height: 3px;
    top: 0.15em;
    left: 0.05em;
}

.join-now {
    background: #c6082f;
    color: #fff;
    padding: 1em 0;
}

.join-now p {
    margin: 0;
    font-size: 14pt;
    font-weight: 300;
}

.join-now > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer {
    padding-top: 2.33rem;
    background: #072849;
    color: #C9D9EF;
    font-size: 11pt;
    text-align: center;
}

.footer article p {
    color: #C9D9EF;
    font-size: 11pt;
}

.footer a {
    color: #C9D9EF;
    font-size: 15pt;
    text-decoration: none;
}

.footer a:hover {
    color: #51b8a0;
}

.icons {
    margin: 1.22rem 0;
}

.footer .icon-button {
    font-size: 30pt;
    margin: 0 0.88rem;
}

.right-aligned {
    text-align: right;
}

.mast-head > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .mast-head > header {
        flex-direction: column;
    }
}

.mast-head.title {
    display: flex;
    text-decoration: none;
    font-size: 15pt;
    color: #fff;
    opacity: 0.96;
    flex: 1 0 auto;
}

.mast-head.title > * {
    font-size: inherit;
    margin: 0;
    white-space: nowrap;
}

.mast-head.title > img {
    margin-top: .1em;
    max-height: 2.24em;
    margin-right: 0.55em;
}

.mast-head.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fancy-link {
    font-size: 12pt;
    color: #EA395E;
    text-align: left;
    margin: 0 1.44vw;
    padding: 0.33em;
    text-decoration: none;
}

a i {
    color: inherit;
}

.fancy-link:last-child {
    margin-right: 0;
}

.fancy-link:after {
    content: ' ';
    display: block;
    position: relative;
    background: #EA395E;
    width: 2.88em;
    height: 3px;
    top: 0.1em;
    transition-duration: 120ms;
}

.fancy-link:hover {
    color: #ab2f4d;
    text-decoration: none;
}

.fancy-link:hover:after {
    background: #ab2f4d;
    width: 100%;
}

/* ----- White Link ----*/
.fancy-link.white {
    color: #FFFFFF;
}

.fancy-link.white:after {
    background: #FFFFFF;
}

.fancy-link.white:hover {
    color: #FFEAB2;
}

.fancy-link.white:hover:after {
    background: #FFEAB2;
}

/* ----- blue Link ----*/
.fancy-link.blue, a {
    color: #4A90E2;
}

.fancy-link.blue:after {
    background: #4A90E2;
}

.fancy-link.blue:hover, a {
    color: #3d6aaf;
}

.fancy-link.blue:hover:after {
    background: #3d6aaf;
}


.mast-head.message {
    opacity: 0.8;
    font-size: 20pt;
    color: #FFFFFF;
    text-align: center;
    line-height: 23pt;
    text-shadow: 0 2px 6px rgba(0,0,0,0.32);
    padding: 2vw 0;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 0.44rem 0;
}

.button, .button:visited {
    background-color: transparent;
    font-size: 13pt;
    color: #FFFFFF;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 2.5em;
    padding: 0.5em 2em;
    margin: 0 1.33vw;
    white-space: nowrap;
    transition-duration: 100ms;
    text-decoration: none;
}

.button:hover, .button:visited:hover {
    text-decoration: none;
    color: #FFEAB2;
    border-color: #FFEAB2;
}

.button.red {
    border: 1px solid #EA395E;
    color: #EA395E;
}

.button.red:hover, .button.red:visited:hover {
    text-decoration: none;
    color: #ab2f4d;
    border-color: #ab2f4d;
}

.article, article {
    text-decoration: none;
    padding: 1em 0;
    display: block;
}

.underline:not(:last-child):after {
    content: ' ';
    display: block;
    position: relative;
    background: #D8D8D8;
    width: 200px;
    height: 2px;
    top: 0.5em;
    transition-duration: 120ms;
    opacity: 0.45;
}

.article > p, article > p, .post *, ul > li {
    font-size: 12pt;
    color: #4e4e4e;
    margin: 1em 0;
    font-weight: 300;
    line-height: 1.33em;
}

.article > h3, article > h3 {
    font-size: 18pt;
    color: rgba(7, 40, 73, 0.88);
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
    color: rgba(7, 40, 73, 0.88);;
    font-weight: 600;
    margin: 1.12em 0 .22em 0;
    padding-bottom: .22em;
    border-bottom: 1px solid rgba(7, 40, 73, 0.12);;
}

.post h1 {
    font-size: 20pt;
}
.post h2 {
    font-size: 18pt;
}
.post h3 {
    font-size: 16pt;
}
.post h4, h5, h6 {
    font-size: 15pt;
}

.article:hover, .article:visited, .article:active, .article {
    text-decoration: none !important;
}

.meta {
    font-style: italic;
    font-size: 9pt;
    color: #656565 !important;
    margin: 0;
}

i.icon {
    margin: 0 0.5em;
}

.logo {
    max-height: 50px !important;
    width: auto !important;
    object-fit: contain;
}

.info-link {
    text-decoration: none;
}

.info-link:hover {
    text-decoration: none;
}

.icon-title {
    font-size: 14.5pt;
    color: #277d69;
    margin-bottom: 0.66em;
}

.icon-background {
    display: flex;
    color: #fff;
    background: #277d69;
    border-radius: 50px;
    margin-right: 0.66rem;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.cream .icon-title {
    color: #2b7564;
}

.cream .icon-background {
    background: #2b7564;
}

.cream .fancy-link.blue {
    color: #084a79;
}

.cream .fancy-link.blue:hover {
    color: #071932;
}

.cream .fancy-link.blue:after {
    background-color: #083b6a;
}

.cream .fancy-link.blue:hover:after {
    background-color: #071428;
}

.icon-background > i {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.info-link {
    display: flex;
}

.info-link h4 {
    margin-bottom: 0.22em;
}

.info-link p {
    font-weight: 300;
    font-size: 11pt;
    line-height: 1.5em;
    color: #4e4e4e;
    margin: 0;
}

.info-link footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.info-link .fancy-link {
    font-size: 11pt;
    font-weight: 300;
    margin:0;
    padding: 0 0;
}

.info-link .fancy-link:after {
    height: 2px;
}

.info-link .fancy-link i {
    margin-right: 0;
}

.post-title {
    font-weight: 400;
    font-size: 29pt;
    line-height: 1.22em;
    color: #072849;
    margin: 0 0 0.12em;
}

.post-header .meta {
    font-size: 12pt;
}

.post-header .title {
    margin: 0 0 0.67em;
}

.post-header .text {
    color: #4e4e4e;
}

.post {
    line-height: 1.45em;
    font-size: 15pt;
    padding: 0;
}

.post li, .post blockquote {
    line-height: inherit;
    font-size: inherit;
    padding: 0;
}

.post > p:first-child:first-letter {
    color: #fff;
    float: left;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    padding: 5px 8px;
    background-color: #EA395E;
    margin-right: 0.22em;
}

.post blockquote {
    border-left: 3px solid whitesmoke;
    margin: 1em 3px;
}
.post blockquote p {
    margin: 0;
    margin-left: 3vw;
}

.post > .meta {
    font-size: 12pt;
}

.status-banner {
    display: flex;
    color: rgba(0,0,0,0.66);
    align-items: center;
    background-color: whitesmoke;
    padding: 1.33em 2em;
}

.status-banner div {
    color: rgba(0,0,0,0.66);
    font-weight: 300;
}

.status-banner div p:last-child:not(:first-child) {
    margin-top: 0.8em;
}

.status-banner i:first-child {
    margin-right:0.88em;
    font-size: 2em;
}

.status-banner p {
    margin: 0.1em 0;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
}

.person .meta {
    font-style: italic;
}

.person .name {
    font-size: 13pt;
    font-weight: 500;
    margin: 0.33rem 0;
}

.person p {
    margin: 0.12em 0;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border: 2px solid whitesmoke;
}

.empty-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-bottom: 0.5rem;
    font-size: 45px;
    color: #072849;
    background-color: whitesmoke;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.block-button {
    cursor: pointer;
    padding: 1.44rem;
    background-color: whitesmoke;
    color: rgba(45, 45, 45, 0.87);
    text-decoration: none;
    transition-duration: 100ms;
}

.block-button p:last-child {
    margin-bottom: 0;
}

.block-button:hover, .block-button.selected {
    background-color: #82fbdf;
    text-decoration: none;
    color: #072849;
}

.block-button.selected {
    border: 2px solid #2c6659;
}

.block-button footer {
    display: flex;
    justify-content: flex-end;
    color: #4e4e4e;
}

.block-button .fancy-link {
    color: #3d6aaf;
}

.block-button .fancy-link:after {
    background-color: #3d6aaf;
}

.no-padding {
    padding: 0;
}

.table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.table th {
    color: #072849;
    padding: 1rem 0.33rem;
    background-color: whitesmoke;
    border-bottom: 1px solid #cccccc;
}

.table td {
    padding: 1rem 0.33rem;
    border-bottom: 1px solid #cccccc;
}

.align-right {
    text-align: right;
}

.paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-margin {
    margin: 0;
}

.important {
    font-size: 2em;
}

i.big {
    font-size: 3em;
    margin-bottom: 0.22em;
}

.icon-block header {
    color: #51b8a0;
    margin-bottom: 1.66em;
    font-size: 13pt;
}

.icon-block header .title {
    margin-bottom: .22em;
}

.icon-block .text p {
    color: rgba(10,10,10,0.66);
    font-weight: 300;
    font-size: 12pt;
    line-height: 16pt;
}

.subheader {
    padding-top: .66em;
    margin-top: .33em;
    border-top: 2px solid rgba(7, 40, 73, 0.1);
    display: flex;
    justify-content: space-between;
}

.subheader > * {
    color: #072849;
    font-weight: 300;
    margin: 0;
}

.form-button {
    padding: 1em 1.22em;
    background-color: #82fbdf;
    border: 1px solid #73e6ca;
    border-bottom: 3px solid #73e6ca;
    outline: none;
    border-radius:3px;
    transition-duration: 100ms;
    color: #072849;
    text-decoration: none;
}

.form-button:hover {
    filter: brightness(0.9);
}

.form-button:focus {
    box-shadow: inset 1px 1px 2px 0 rgba(142, 145, 153, 0.33),
            0px 0px 0px 3px #4A90E2;
}

.tabs {
    margin-top: 1.66em;
    margin-bottom: -2em;
    display: flex;
}

.tab {
    display: block;
    padding: 0.88em 1.22em;
    color: #3d6aaf;
    transition-duration: 100ms;
}

.tab:not(.active) {
    padding-top: 0.5em;
    margin-top: 0.32em;
}

.tab:not(:first-child) {
    margin-left: 0.33em;
    margin-right: 0.33em;
}

.tab:hover {
    background-color: #e4e1da;
    color: #3d6aaf;
}

.tab.active {
    background-color: #fff;
    border: 1px solid #e4e1da;
    border-bottom-width: 0;
    color: #4A90E2;
}

button {
    cursor: pointer;
}

@media screen and (min-width: 944px) {
    .post {
        margin: 0 4vw;
    }
}

@media screen and (max-width: 1024px) {
    .mast-head.message {
        margin: 1.88vw 10vw;
    }
    .mast-head .title {
        margin-bottom: 1.22em;
        text-align: center;
        flex: 1 1 100%;
        margin-left: -2rem;
    }
}

header#form_title.post-header {
    margin-bottom: 0;
}

.vf-next-button:focus, .vf-modal-button:focus {
    box-shadow: 0 0 0 3px #4a90e2;
}

.form_layout__review {
    margin-top: 1em;
}

.first-q {
    display: none;
}