{% load static %}
<footer>
    {%  include 'blocks/join.html' %}
    <article class="section footer">
        <div class="content">
            <h2>{{ header.title }}</h2>
            <h3>Labour Party</h3>
        </div>
        <nav class="content icons">
            <a href="https://www.facebook.com/nwcambslabour/" class="icon-button" target="_blank" rel="noreferrer" aria-label="Our Facebook page">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/labour_northwestcambs/" class="icon-button" target="_blank" rel="noreferrer" aria-label="Our Instagram account">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://github.com/hallcode" class="icon-button" target="_blank" rel="noreferrer" aria-label="Page developers's GitHub profile">
                <i class="fab fa-github"></i>
            </a>
        </nav>
        <div class="content">
            <p>
                Promoted by A W Hall on behalf of {{ header.title }} Labour Party, at 11 Kennedy Street,
                Hampton Vale, Peterborough, PE7 8JY.
            </p>
            <p>
                Site design by Alex Hall.
            </p>
        </div>
    </article>
</footer>