{% load static %}
<section class="section mast-head expanded">
    <header class="content-wide" href="/">
        <a href="/" class="mast-head title">
            <img alt="Labour rose logo" src="{% static 'rose-icon.svg' %}">
            <h1>{{ header.title }}<br>Labour Party</h1>
        </a>
        <nav class="mast-head nav">
            {% for link in header.links %}
                <a href="{{ link.href }}" class="fancy-link white">{{ link.text }}</a>
            {% endfor %}
        </nav>
    </header>
    {% if header.expanded %}
    <article class="mast-head message content">
        {{ header.message }}
    </article>
    <footer class="content buttons">
        {% for button in header.buttons %}
            <a href="{{ button.href }}" class="button">{{ button.text }}</a>
        {% endfor %}
    </footer>
    {% endif %}
</section>