<section class="section cream">
    <header class="content">
        <h2 class="title">Latest News</h2>
    </header>

    <section class="content">
        {% for article in posts %}
        {%  include 'blocks/article-link.html' %}
        {% endfor %}
    </section>

    <footer class="content buttons">
        <a class="button red" href="/news">
            More news
            <i class="fas fa-arrow-right space"></i>
        </a>
    </footer>
</section>