{% extends 'template.html' %}

{%  block content %}

    <section class="section">
        <article class="content">
            <h2 class="title">
                404
            </h2>
            <h1>
                Unable to find the requested page
            </h1>
            <p>
                It may have been moved or deleted, try using the links above to find what you need.
            </p>
        </article>
    </section>

{% endblock %}