{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">

    <title>{{ page.title }} | {{ header.title }}</title>
    <meta name="Description" content="{{ page.description }}">

    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" crossorigin="anonymous" />

    <link rel="stylesheet" href="{%  static 'layout.css' %}?v=002">
    <link rel="stylesheet" href="{%  static 'style.css' %}?c=002">
    <link rel="stylesheet" href="{%  static 'print.css' %}?c=002">

    {% block htmlhead %}
    {% endblock %}
</head>
<body>
{% include 'sections/header.html' %}

<main>
    {% block content %}
    {% endblock %}
</main>

{% include 'sections/footer.html' %}

</body>
</html>